In [ ]:
#Write a program to reverse a string.
a = "Abdul Samad"
b = a[::-1]
print(b)

In [ ]:
#Check if a string is a palindrome.
a = "radar"
b = ""
for i in a:
    b = i + b
if (b==a):
  print("string is a palindrome")
else:
  print("string is not a palindrome")

In [ ]:
#Convert a string to uppercase.
a = "samad"
b= a.upper()
print(b)

In [ ]:
#Convert a string to lowercase.
a = "SAMAD"
b= a.lower()
print(b)

samad

In [ ]:
#Count the number of vowels in a string.
a = "SamadKhan"
vowel = ['a','e','i','o','u']
count = 0
for i in a:
  if i in vowel:
    count = count+1
print(count)

In [ ]:
#Count the number of consonants in a string.
a = "SamadKhan"
vowel = ['a','e','i','o','u']
count = 0
for i in a:
  if i not in vowel:
    count = count+1
print(count)

6

In [ ]:
#Remove all whitespaces from a string.
a = "Abdul Samad Khan"
b = ""
for i in a:
  if  i != " ":
    b = b +i
print(b)

AbdulSamadKhan

In [ ]:
# Find the length of a string without using the `len()` function.
a = "ABDUL SAMAD KHAN"
length = 0
for i in a:
  length = 1 + length
print(length)

16

In [ ]:
#Check if a string contains a specific word.
a = "ABDUL SAMAD KHAN"
if  "N" in a:
 print(("string contains a specific word"))
else:
  print("stringdoes not contains a specific word")

string contains a specific word

In [ ]:
#Replace a word in a string with another word.
a = "Hello Samad"
b = a.replace("Samad", "Abdul")
print(b)

Hello Abdul

In [ ]:
#Count the occurrences of a word in a string.
a = "ABDUL SAMAD KHAN"
b = "A"
count = 0
for  i in a:
  if i ==b:
    count = count + 1
print(count)

4

In [ ]:
#Find the first occurrence of a word in a string.
a = "ABDUL SAMAD KHAN"
print(a.find("L"))

4

In [ ]:
#Find the last occurrence of a word in a string.
a = "ABDUL SAMAD KHAN"
print(a.rfind("A"))

14

In [ ]:
#Split a string into a list of words.
a = "ABDUL SAMAD KHAN"
b = a.split()
print(b)

['ABDUL', 'SAMAD', 'KHAN']

In [ ]:
#Join a list of words into a string.
a = ['ABDUL', 'SAMAD', 'KHAN']
b= " ".join(a)
print(b)

ABDUL SAMAD KHAN

str

In [ ]:
#Convert a string where words are separated by spaces to one where words are separated by underscores.
a = "ABDUL SAMAD KHAN"
b = a.replace(" ", "_")
print(b)

ABDUL_SAMAD_KHAN

In [ ]:
#Check if a string ends with a specific word or phrase.
a = "ABDUL SAMAD KHAN"
b = "N"
if a[-1] == b:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
#Convert a string to title case (e.g., "hello world" to "Hello World").
a = "hello world"
b = a.title()
print(b)

Hello World

In [ ]:
#Find the longest word in a string.
a = "My Name is SAMAD KHAN"
b = a. split()
longest_word = max(b, key = len)
print(longest_word)

SAMAD

In [ ]:
#Find the shortest word in a string.
a = "My Name is SAMAD KHAN"
b = a. split()
smallest_word = min(b, key = len)
print(smallest_word)

My

In [ ]:
#Reverse the order of words in a string.
a = 'Abdul Samad'
b = a.split()
b = list(reversed(b))
print(" ".join(b))

Samad Abdul

In [ ]:
#Check if a string is alphanumeric.
a = 'Iam28'
print(a.isalnum())

True

In [ ]:
#Extract all digits from a string.
a = 'Iam28'
digit = " "
for c in a:
    if c.isdigit():
        digit = digit + c
print(digit)

 28

In [ ]:
#Extract all alphabets from a string.
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets

a = "Iam28Year"
b = extract_alphabets(a)
print(b)

I a m Y e a r

In [ ]:
#Count the number of uppercase letters in a string.
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

input_string = "ABDULSamad"
result = count_uppercase(input_string)
print(result)

6

In [ ]:
#Count the number of lowercase letters in a string.
def count_lowercase(input_string):
    lower_count = sum(1 for char in input_string if char.islower())
    return lower_count

input_string = "ABDULSamad"
result = count_lowercase(input_string)
print(result)

4

In [ ]:
#Swap the case of each character in a string.
def swapcase(input):
  string = input.swapcase()
  return string

string = 'ABDULsamad'
result = swapcase(string)
print(result)

abdulSAMAD

In [ ]:
#Remove a specific word from a string.
def remove_word(input_string, word_to_remove):
    words = input_string.split()  # Split the input string into a list of words
    filtered_words = [word for word in words if word != word_to_remove]  # Create a new list excluding the word to remove
    modified_string = ' '.join(filtered_words)  # Join the filtered words back into a string
    return modified_string

# Example input string and word to remove
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

In [ ]:
#Check if a string is a valid email address.
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [3]:
# Extract the username from an email address string.
def extract_username(email):
    username = email.split('@')[0]
    return username

email = "samad.online94@email.com"
result = extract_username(email)
print(result)

samad.online94

In [4]:
#Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string

input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

In [8]:
#Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False


url1 = "https://www.samad.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [9]:
#Find the frequency of each character in a string.
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [10]:
#Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [ ]:
List Based Practice Problem :

In [11]:
#Create a list with integers from 1 to 10.
integer_list = [i for i in range(1, 11)]

# Print the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#Find the length of a list without using the `len()` function.
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

# Example list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

In [13]:
#Check if an element exists in a list.
my_list = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 30

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

In [14]:
#Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]